.frame {
	border: 2px solid #000;
	padding: 5px;
	width: 500px;
}

.labelFrame {
	border: 1px solid #000;
	padding: 2px;
	width: 150px;
	height: 56px; 
	font-size: 0.22cm;
}


tr{ page-break-inside:avoid; page-break-after:avoid; page-break-before:avoid; margin: 0px; }
td{ page-break-inside:avoid; page-break-after:avoid; page-break-before:avoid; margin: 0px; }

.labelTable{
	transform-origin:0 0;
	margin: 0;
	padding: 0;
}

.innerLabelTable{

	height: 28px;
	max-height: 28px; 
}

.pageWrapper {
		padding: 20px;
		border: 2px solid #ababab;
		page-break-after: always;
		width: 20cm;
		height: 28.7cm;
}

nav {
	page-break-after: always;
}

html {
	font-family: Arial;
}


td {
	border: 3px solid #FFF;
	padding: 0px;
}

textarea {
    border: 2px solid #000;
	overflow-y: scroll;
    height: 100px;
	width: 500px;
	padding: 5px;
    resize: none; 
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	width: 175px;
}
.btn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.btn:active {
	position:relative;
	top:1px;
}

@media print {
	@page {
		margin: 0;
	}
	
	.no-print, .no-print *, .no-print>*
    {
        display: none !important;
    }
	
	.pageWrapper {
		border: 0px solid #0F0;
	}
	
}

